/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  box-sizing: border-box;
}

.acceptButton {
  width: 8rem;
  height: 3rem;
}

.transitionButton {
  width: 6rem;
  height: 2rem;
}

.container {
  width: 90%;
  margin: 1rem auto;
}

.mat-icon-edit {
  color: #888888;
}

.mat-icon-delete {
  color: #e00606;
}

.pointer {
  cursor: pointer;
}

.tooltip-red {
  background: #b71c1c;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell{
  border-color: #3f51b5;
}

.table-filter-input {
  margin: 1rem auto;
  font-size: 14px;
  width: 100%;
}

.sectionHeader {
  font-size: 40px;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.stickySub {
  position: sticky;
  top: 80px;
  z-index: 100;
}

.table-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin: 1rem auto;
  padding: 1rem;
}
