<div>
  <form class="newIngredient" [formGroup]=EntryForm (ngSubmit)="addOrEditEntry(EntryForm)">

    <!-- addOrEditIngredient(IngredientForm, formDirective) -->
    <mat-form-field>
      <mat-label>&nbsp;&nbsp; {{confElement}}&nbsp;</mat-label>
      <input type="text" matInput autocomplete="off" placeholder="{{confElement}}" formControlName="name" value="{{editMode[0].name}}" #ingInput required>
    </mat-form-field>

    <button *ngIf="!this.editMode[1]" class="acceptButton" mat-raised-button color="primary" type="submit" [disabled]="EntryForm.invalid">Agregar</button>

    <button *ngIf="this.editMode[1]" class="acceptButton" mat-raised-button color="primary" type="submit">Actualizar</button>

  </form>
</div>
