<mat-toolbar color="primary">
  <span class="link" routerLink="">@PetiteHibou</span>
  <div class="spacer"></div>
  <ng-template [ngIf]="loginStatus" [ngIfThen]="thenBlock" [ngIfElse]="elseBlock"></ng-template>
    <ng-template #thenBlock>
      <button mat-flat-button color='primary' routerLink="">Inicio</button>
      <button mat-flat-button color='primary' (click)="getCategoryList()">Recetas</button>
      <button mat-flat-button color='primary' routerLink="ingredientes">Ingredientes</button>
      <button mat-flat-button color='primary' routerLink="carrito">Carrito</button>
      <button mat-flat-button color='primary' routerLink="contacto">Contacto</button>
      <button mat-raised-button color='primary' (click)="salir()">Salir</button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-raised-button color='primary' (click)="goLogin()">Ingresar</button>
    </ng-template>
</mat-toolbar>
