

.link {
  cursor: pointer;
}


.mat-toolbar{
  /* background-color: cornflowerblue; */
  color: white;
}
.mat-button{
  color: white;
}


.menu-btn {
  font-size: 1.2rem;
}


.menu-btn:hover {
  opacity: 0.5;
}


.menu-btn-label {
  margin-left: 0.4rem;
}

.navBar {
  height: 80px;  
}


.spacer{
  flex: 1 1 auto;
}

.custom {
  background-color: #4757b6;
  padding-top: 0;
}


