
.link {
  cursor: pointer;
}

.mat-toolbar{
  /* background-color: cornflowerblue; */
  color: white;
}
.mat-button{
  color: white;
}
.spacer{
  flex: 1 1 auto;
}

.mat-menu-item.custom:hover {
  background-color: #4757b6;
}
