<mat-toolbar class="sticky navBar" color="primary">
  <span class="link" routerLink="">@PetiteHibou</span>
  <div class="spacer"></div>
  <ng-template [ngIf]="loginStatus" [ngIfThen]="thenBlock" [ngIfElse]="elseBlock"></ng-template>
    <ng-template #thenBlock>
      <button class="menu-btn" mat-flat-button color='primary' routerLink="">
        <mat-icon>home</mat-icon>
        <span class="menu-btn-label">INICIO</span>
      </button>
      <button class="menu-btn" mat-flat-button color='primary' (click)="getCategoryList()">
        <mat-icon>style</mat-icon>
        <span class="menu-btn-label">RECETAS</span>
      </button>
      <button class="menu-btn" mat-flat-button color='primary' routerLink="carrito">
        <mat-icon>shopping_cart</mat-icon>
        <span class="menu-btn-label">CARRITO</span>
      </button>
      <button class="menu-btn" mat-flat-button color='primary' routerLink="contacto">
        <mat-icon>face</mat-icon>
        <span class="menu-btn-label">CONTACTO</span>
      </button>
      <button class="menu-btn" mat-flat-button color='primary' [mat-menu-trigger-for]="configurationMenu">
          <mat-icon>settings</mat-icon>
          <span class="menu-btn-label">CONFIG</span>
      </button>
      <mat-menu class="custom" #configurationMenu="matMenu" yPosition="below">
        <button class="custom" mat-menu-item routerLink="categorias">Categorías</button>
        <button class="custom" mat-menu-item routerLink="ingredientes">Ingredientes</button>
        <button class="custom" mat-menu-item routerLink="medidas">Medidas</button>
        <button class="custom" mat-menu-item routerLink="niveles">Niveles</button>
        <button class="custom" mat-menu-item routerLink="equipos">Equipos</button>
      </mat-menu>
  <div class="spacer"></div>
      <button mat-raised-button color='primary' (click)="salir()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-raised-button color='primary' (click)="goLogin()">Ingresar</button>
    </ng-template>
</mat-toolbar>
