<!-- <div class="container">
  <h3>Aún no has ingresado recetas en {{title}}</h3>
</div> -->

<div *ngIf="recipes.length > 0">

  <div class="container stickySub">
    <div class="table-button-container">
      <div class="spacer"></div>
      <div class="headerName">
        <span class="sectionHeader">{{title}}</span>
      </div>
      <div class="spacer"></div>
    </div>
  </div> 

  <div class="container">
    <div class="recipes-flex">
      <app-recipe *ngFor="let currentRecipe of recipes" [recipe]="currentRecipe"></app-recipe>
    </div>
  </div>
  
</div>


