<div class="container">
  <h1>Está sola la soda!!</h1>
  <mat-grid-list cols="2">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <img
        src="../../assets/img/quemada.jpg"
        alt="Está sola la soda, se quemó"
      />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div>
        <p>
          Lo lamentamos mucho, pero la dueña de la soda no está disponible, se fue
          a vacilar con unos clientes...
        </p>
        <p>
          Así que lo solicitado no puede encontrarse ya que se quemó todo lo que
          estaba en la cocina
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
