


.loginButton {
  margin-top: 20px;
  width: 50%;
  height: 50px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 300px;
  margin: 0 auto;
}

.loginField {
  width: 90%;
}
