<p>add-edit-delete works!</p>

<app-add-edit-delete-detail [editMode]="editMode"></app-add-edit-delete-detail>

<div class="container">
  <mat-form-field class="table-filter-input" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Qué desea buscar" #input autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z6 entriesTable">
    <table mat-table [dataSource]='ENTRIES_DATA'>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <th class="colName" mat-header-cell *matHeaderCellDef> Nombre </th>
        <td class="selectRow" mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="actions">
        <th class="colActions" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a class="tableAction" (click)="editEntry(element._id, element.name, element.notes)">
            <mat-icon class="mat-icon-edit" matTooltip="Editar ingrediente">edit</mat-icon>
          </a>
          <a class="tableAction" (click)="removeEntry(element._id, element.name)" >
            <mat-icon
                class="mat-icon-delete"
                matTooltip="Eliminar elemento"
                matTooltipClass="tooltip-red">
              delete
            </mat-icon>
          </a>
          <!-- <button *matCellDef="let element"
            mat-raised-button
            [disabled]="!this.ingsDBService.ING_DATA.length"
            (click)="removeIngredient(element._id)"
            class="table-button">
          Eliminar
          </button> -->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
    [length]="200"
    showFirstLastButtons
    [pageSizeOptions]=pageSizeOptions
    #matPaginator>
    </mat-paginator>
  </div>

</div>
